html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.direction-ltr {
  direction: ltr;
}

/* ensure slick never shows an outline when it somehow gets focus */
.slick-slide:focus,
.slick-slide *:focus {
  outline: none !important;
}
